@import 'partials/variables';
@import 'partials/reset';
@import 'partials/fonts';

body {
  background: #eee;
  font-family: 'David Libre', serif;
  padding: 25px;
  text-align: center;
}

button {
  padding: 10px;
  border: 1px solid #333;
  background: #444;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1.25px;

  &:hover {
    background: #555;
  }
}

p {
  border-bottom: 1px solid #333;
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 20px 0;

  &:last-child {
    border: 0;
  }
}
