ul {
  background: black;
  list-style: none;
  color: white;
  float: right;
  overflow: hidden;
}

ul li {
  float: left;
  padding: 10px;

}

/*.container {
  position: absolute;
  width: 350px;
  height: 350px;
  background: red;
}

.anywhere {
  position: absolute;
  background: black;
  color: white;
}

.anywhere-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 75px;
  background: green;
}*/
